<div class="col-sm-10 col-sm-offset-1">
<h1>
  {{title}}
</h1>
 <div class="form-group">

    <input type="text" class="form-control" id="title" [(ngModel)]="title"/>
  </div>

<div>
  
<div>
<simple-tiny
  [elementId]="'my-editor-id'"
  (onEditorKeyup)="keyupHandlerFunction($event)"
  >
</simple-tiny>
</div>
<h2>Upload a File</h2>
  <form ngNoForm>
    <input id="file" name="file" type="file"  (click)="filechange()">
    <button (click)="upload()" type="button">Upload</button>
    </form>
    <h2>File Gallery</h2>
    <h3>{{ (item | async)?.path }}</h3>
    <div style="overflow:hidden;">
        <div *ngFor="let img of imageList | async " style="position:relative;width:100px;height:100px;float:left;display:flex;justify-content:center;align-items:center;">
            <img [src]="img.downloadURL | async" style="max-width:100px;max-height:100px;">
            <button (click)="delete(img)" style="position:absolute;top:2px;right:2px;">[x]</button>
        </div>
    </div>
<div class="form-group">
<p>
<button type="submit" class="btn btn-primary pull-right" (click)="add()">Save</button>
</p>
</div>